body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  cursor: none;
}

div{
  width: 350px;
  height: 450px;
  background: wheat;
  border: 0px solid black;
}

div:hover{
  border: 1px solid black;
}
